/*
    Baseline colors for matherial theme dark:
    Primary #bb86fc
    Primary variant #3700b3
    Secondary #03dac6
    Background and surface #121212
    Error #cf6679
    Text over primary and secundary #000000
    Text over Background and surface #ffffff
    text over Error: #000000
    https://codepen.io/evawythien/pen/jegRxN - progress bar code
    https://glitch.com/~material-theme-builder - material design snippets
    https://material.io/resources/icons/?style=baseline - material design icons
    https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=212121&secondary.color=80D8FF
*/

:root {
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 200;
  background-color: #212121;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #212121;
}

.title {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
}

p {
  text-align: center;
}

footer {
  bottom: 0;
}

.hidden {
  visibility: hidden;
}

.material-icons {
  font-family: "Material Icons";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.digital-clock {
  position: relative;
}

.rover-selector {
  display: flex;
  border-collapse: separate;
  border-spacing: 48px;
  justify-content: center;
}

.info {
  color: #ffffff;
}

.time {
  text-align: center;
  color: #ffffff;
}

.small-font {
  font-size: 12px !important;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: rgb(206, 99, 27);
  display: inline-block;
  position: relative;
  border-radius: 50%;
  left: 5%;
  margin-left: 260px;
  margin-top: 92%;
  padding-top: -12em;
}

.blinking {
  animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
  50% {
    opacity: 0;
  }
}

.unnamed {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: url("Assets/robot.jpg");
  border-radius: 5%;
  transition: 0.2s;
  border: 0px solid rgba(255, 255, 255, 0);
}

.unnamed:hover {
  opacity: 0.6;
  border-radius: 5%;
  box-shadow: 0 0 3pt 2pt white;
}

.aenea {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: url("Assets/hector.jpg");
  border-radius: 5%;
  transition: 0.2s;
  border: 0px solid rgba(255, 255, 255, 0);
}

.aenea:hover {
  opacity: 0.6;
  border-radius: 5%;
  box-shadow: 0 0 3pt 2pt white;
}

.hector {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: url("Assets/hector2.jpg");
  border-radius: 5%;
  transition: 0.2s;
  border: 0px solid rgba(255, 255, 255, 0);
}

.hector:hover {
  opacity: 0.6;
  border-radius: 5%;
  box-shadow: 0 0 3pt 2pt white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header,

[hidden] {
  display: none;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

.white {
  color: #fff;
}

small {
  font-size: 80%;
}

header,
nav {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background: 0 0;
}

a:active,
a:hover {
  outline: 0;
}

svg:not(:root) {
  overflow: hidden;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #03dac6;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: #777;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%;
}

.h1,
h1 {
  font-size: 36px;
}

.h2,
h2 {
  font-size: 30px;
}

.h3,
h3 {
  font-size: 24px;
}

.h4,
h4 {
  font-size: 18px;
}

.h5,
h5 {
  font-size: 14px;
}

.h6,
h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.small,
small {
  font-size: 85%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-info {
  color: #31708f;
}

a.text-info:hover {
  color: #245269;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

dt {
  line-height: 1.42857143;
}

dt {
  font-weight: 700;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {

  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }
}

.open>a {
  outline: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: #eee;
  border-color: #428bca;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  transition: 1s;
}

.jumbotron .h1,
.jumbotron h1 {
  color: inherit;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.container .jumbotron {
  border-radius: 6px;
}

.jumbotron .container {
  max-width: 100%;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.container:after,
.container:before,
.nav:after,
.nav:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.container:after,
.nav:after,
.row:after {
  clear: both;
}

.stream {
  border-radius: 2%;
  overflow: hidden;
  max-width: 100%;
  min-height: auto;
  width: 1280px; 
  height: 768px;
  -ms-overflow-style: none;
}
.stream::-webkit-scrollbar {
  display: none;
}


.results__heading {
  font-size: 110%;
}

.results__display-wrapper {
  margin-top: 16px;
  margin-top: 16px;
  margin-top: 1rem;
  padding: 8px 16px;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  background: #121212;
  border: 1px solid #bb86fc;
  overflow-x: scroll;
}

.results__display {
  color: #ffffff;
}

.logo {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 350px;
}

.about {
  color: #ffffff;
  margin-left: 2%;
}