:root {
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: #212121 /*https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=212121&secondary.color=80D8FF*/
}
h1 {
    color: #ffffff
}
.rover-selector {
    display: flex;
    border-collapse: separate;
    border-spacing: 48px;
    justify-content: center;
}
.info {
    color: #ffffff;
}

.navbar-button{
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #000000;
  }

.dot{
    height: 25px;
    width: 25px;
    background-color: rgb(170, 19, 19);
    display: inline-block;
    position: relative;
    border-radius: 50%;
    top: 92%;
    left: 50%;
    padding: 5px;
    margin-left: -40px;
    margin-top: -2%;
}

.blinking{
	animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
	50% { opacity: 0; }
}

.unnamed {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: url("Assets/robot.jpg");
  }

.aenea {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: url("Assets/robot.jpg");
}

.hector {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: url("Assets/robot.jpg");
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
    Baseline colors for matherial theme dark:

    Primary #bb86fc
    Primary variant #3700b3
    Secondary #03dac6
    Background and surface #121212
    Error #cf6679
    Text over primary and secundary #000000
    Text over Background and surface #ffffff
    text over Error: #000000
*/