:root {
    font-size: 16px;
    font-family: 'Open Sans';
}

.rover_selector {
    padding-top: 10%;
}
.info {
    color: black;
}

.unnamed {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: url("Assets/robot.jpg");
  }

.aenea {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: url("Assets/robot.jpg");
}

.hector {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: url("Assets/robot.jpg");
}